.container {
  width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results > div {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: rgb(242, 242, 242);
  padding: 30px;
  border-radius: 5px;
}

.results > div > span:not(:last-child) {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 300px;
  border: 1px solid lightgray;
  outline: none;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgb(252, 249, 249);
  padding-left: 10px;
  margin: 5px 0 25px 0;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
}

.submit-button,
.back-button {
  color: white;
  background-color: #5c47d3;
  border: 1px solid #5c47d3;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.back-button {
  width: 250px;
  outline: none;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
}

.submit-button:hover {
  cursor: pointer;
}

form > span {
  font-size: 12px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.footer > div {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.footer > div > a {
  text-decoration: inherit;
  cursor: pointer;
  color: inherit;
  font-weight: bold;
}

.fa-eye {
  position: relative;
  z-index: 1;
  left: -30px;
  color: #7b7b7b;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .container {
    width: auto;
  }
}
